#root {
  margin: 0 auto;
  padding: 0;
}

body {
  overflow-x: hidden;

}


header{
  position: relative;
  overflow: hidden;
} 

header::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100vw;
  height: 100%;
  opacity: 35%;
  background: #000000;
  background: radial-gradient(circle,rgba(0, 0, 0, 0) 0%, rgba(255, 0, 0, 1) 100%);
}


@media (prefers-reduced-motion: no-preference) {

}

