

.sec-nav {
  width: 100%;
}

input:focus{
  outline: none;
  border: none;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.noShadow {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

}

.siShadow {
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}

.input-sec {
  min-width: 100px;
}

.reg {
  height: 100dvh;
}
